/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : Mar 30, 2023, 2:44:23 PM
    Author     : frontend
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
@font-face {
    font-family: 'Bodoni';
    src: url('./fonts/BodoniBook72/Bodoni-Book.eot');
    src: local('Bodoni Book'), local('Bodoni-Book'),
        url('./fonts/BodoniBook72/Bodoni-Book.eot?#iefix') format('embedded-opentype'),
        url('.fonts/BodoniBook72/Bodoni-Book.woff2') format('woff2'),
        url('./fonts/BodoniBook72/Bodoni-Book.woff') format('woff'),
        url('./fonts/BodoniBook72/Bodoni-Book.ttf') format('truetype'),
        url('.fonts/BodoniBook72/Bodoni-Book.svg#Bodoni-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
